#root {
  max-width: 1280px;
  margin: 0 auto;
}

#search-form__container {
  position: relative;
  z-index: 5;
  width: 750px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #492d6cff;
  border-radius: 28px;
 background-color: white;
  box-shadow: 0 0 15px black;
  transition: .8s;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.info {
  color: #242424;
}

@media screen and (max-width: 786px) {
  #search-form__container {
    width: 515px;
  }
}

@media screen and (max-width: 555px) {
  #search-form__container {
    width: 340px;
  }
}
@media screen and (max-width: 395px) {
  #search-form__container {
    width: 235px;
  }
}
